@import "tailwindcss";
@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF;
  --card: #d6d6d6;
  --selected: #d1d1d1;
  --card-hover: rgb(216, 216, 216);
  --border: #DCDCE0;

  --text: #1A1A1C;
  --text-secondary: #515156;

  --accent: #680edd;
  --hover: #F03E3E;
  --accent-active: #B10000;
}

:root[data-theme="dark"] {
  --background: #000000;
  --card: #101013;
  --card-secondary: #1e1e24;
  --card-hover: #26262cb7;
  --selected: #dd0e3bec;
  --border: #424249;

  /*
  --background: #101013;
  --card: #1A1A1F;
  --card-hover: #242428;
  --selected: #2d2d38;
  --border: #424249;

  */

  --text: #F5F5F5;
  --text-secondary: #9A9AA0;

  --accent: #dd0e3b;
  --accent-hover: #F43F5E;
  --accent-active: #BE123C;
}

@theme {
  --breakpoint-sm: 0px;
  --breakpoint-emd: 450px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 800px;
  --breakpoint-xl: 1200px;
}

html {
  background-color: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
  overflow: hidden !important;
  height: 100vh;
  transition: all .3s ease-in-out
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

@media screen and (max-width: 450px) {
  main{
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}